<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @car_pooling_request.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @car_pooling_request.password %>
</p>

<p>
  <strong>User:</strong>
  <%= @car_pooling_request.user_id %>
</p>

<p>
  <strong>Travel:</strong>
  <%= @car_pooling_request.travel_id %>
</p>

<p>
  <strong>Prefer from:</strong>
  <%= @car_pooling_request.prefer_from %>
</p>

<p>
  <strong>Prefer to:</strong>
  <%= @car_pooling_request.prefer_to %>
</p>

<%= link_to 'Edit', edit_car_pooling_request_path(@car_pooling_request) %> |
<%= link_to 'Back', car_pooling_requests_path %>
